[Unit]
Description=Timer for Automated Borg Backup

[Timer]
OnCalendar=3:01
Unit=borg-backup.service
RandomizedDelaySec=300sec

[Install]
WantedBy=timers.target