[Unit]
Description=Test Bullet
Wants = network-online.target
After = network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/mnt/data/projects/hypervasis/scrapeRentalCars
ExecStart=/mnt/data/projects/hypervasis/scrapeRentalCars/.venv/bin/python bullet.py

[Install]
WantedBy=default.target
