[Unit]
Description=Change Wallpapers

[Service]
Type=simple
#Environment=DISPLAY=:0
ExecStart=/home/stratos/stow/bin/set_walls

[Install]
WantedBy=multi-user.target
