[Unit]
Description=Run Rentalcars job at 10:10 and 20:10 (+- 5 mins)

# I can manually start the timer
RefuseManualStart=no

# I can manually stop the timer 
RefuseManualStop=no 

[Timer]
Persistent=false 
#OnBootSec=80 
OnCalendar=10,20:10 
Unit=rentalcars.service
RandomizedDelaySec=300sec

[Install]
WantedBy=timers.target