[Unit]
Description=Rotate Wallpapers on schedule
 
[Timer]
OnStartupSec=30
OnUnitActiveSec=53min
Persistent=true
Unit=change-wallpapers.service
 
[Install]
WantedBy=default.target
